.logo {
  mix-blend-mode: exclusion;
}
.sidebar {
  background-image: url('/images/bg.webp');
  background-position: 100%;
}
.header {
  background-image: url('/images/bg.webp');
  background-position: 100% 0%;
  color: white;
}
.material-symbols-outlined {
  color: #f1f1f1;
}
